<!-- End Side Vav -->
<a class="close_side_menu" href="javascript:void(0);"></a>

<div class="rbt-overlay-page-wrapper">

    <div class="breadcrumb-image-container breadcrumb-style-max-width">
        {{!-- <div class="breadcrumb-image-wrapper">
            <img src="assets/images/bg/bg-image-10.jpg" alt="Education Images">
        </div> --}}
        <div class="breadcrumb-content-top text-center">
            <h1 class="title"> Privacy Policy
            </h1>

        </div>
    </div>


    <div class="rbt-putchase-guide-area breadcrumb-style-max-width rbt-section-gapBottom">
        <div class="rbt-article-content-wrapper">
            {{!-- <div
                class="d-flex justify-content-center post-thumbnail mb--30 position-relative wp-block-image alignwide">
                <img class="w-80" s
                    src="https://res.cloudinary.com/drs8a4whu/image/upload/v1683835106/terms_and_condition_image_jravdu.png"
                    alt="Blog Images">
            </div> --}}
            <p>This Privacy Policy outlines how Vidventures Media Private Limited collects, uses, and protects personal
                information obtained from our website users. We are committed to safeguarding your privacy and ensuring
                the security of the information you provide to us. By accessing or using our website, you consent to
                collecting, using, and disclosing your personal information as described in this Policy.</h5>
            <div class="content">

                <style>
                    .privacy li {
                        color: black;
                        font-weight: bold;
                    }

                    .disc li {
                        list-style: disc;
                        color: black;


                    }

                    .disc p {
                        color: #6b7385;
                        font-weight: 500;
                    }
                </style>

                <ol class="privacy">
                    <li>Information Collection:
                        <ul class="disc">
                            <li>
                                <p>We may collect personal information from you in the following ways:
                                </p>
                            </li>
                            <li>
                                <p>When you voluntarily provide information through website forms, user registration, or
                                    other interactive features.
                                </p>
                            </li>
                            <li>
                                <p>Automatically, when you interact with our website, you use cookies and similar
                                    technologies.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>Purpose of Collection:
                        <ul class="disc">
                            <li>
                                <p>We collect customer data for the purpose of performance study and analysis of our
                                    services. This helps us improve the user experience and ensure the efficient
                                    functioning of our website and services.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>Use of Personal Information:
                      
                        <ul class="disc">
                              <p>We may use your personal information for the following purposes:</p>
                            <li>
                                <p>To provide and maintain our services, including customer support and communication.
                                </p>
                            </li>
                            <li>
                                <p>To analyse and improve the performance of our website and services.
  </p>
                            </li>
                            <li>
                                <p>To personalise your experience and deliver relevant content.

                                </p>
                            </li>
                            <li>
                                <p>To send periodic emails or newsletters related to our services, promotions, or updates.
    </p>
                            </li>
                            <li>
                                <p>To protect our rights, property, or safety and that of our users or others, as required or permitted by law.
  </p>
                            </li>
                        </ul>
                    </li>
                    <li>Data Retention:
:
                        <ul class="disc">
                            <p>We will retain your personal information for as long as necessary to fulfil the purposes outlined in this Policy unless a longer retention period is required or permitted by law.
</p>
                            {{!-- <li>
                                <p>jhsdagh</p>
                            </li> --}}
                        </ul>
                    </li>
                    <li>Security Measures::
                        <ul class="disc">
                            {{!-- <li>
                                <p>jhsdagh</p>
                            </li> --}}
                            <p>We have implemented appropriate technical and organisational security measures to protect your personal information from unauthorised access, disclosure, alteration, or destruction. However, please note that no method of transmission over the Internet or electronic storage is completely secure.
</p>
                        </ul>
                    </li>
                    <li>Cookies and Tracking Technologies:
:
                        <ul class="disc">
                            {{!-- <li>
                                <p>jhsdagh</p>
                            </li> --}}
                            <p>We may use cookies and similar technologies to collect information about usage patterns, preferences, and other statistical data. You can manage or disable cookies through your browser settings, although doing so may limit certain functionalities of our website.
</p>
                        </ul>
                    </li>
                    <li>Third-Party Links:
:
                        <ul class="disc">
                            {{!-- <li>
                                <p>jhsdagh</p>
                            </li> --}}
                            <p>Our website may not contain links to third-party websites or services. Any access to third-party links from our website is at your own risk, and we are not responsible for those websites' privacy practices or content.

</p>
                        </ul>
                    </li>
                    <li>Children's Privacy:
:
                        <ul class="disc">
                            {{!-- <li>
                                <p>jhsdagh</p>
                            </li> --}}
                            <p>Our website is not intended for children under the age of 13. We do not knowingly collect personal information from children. If you believe we have inadvertently collected information from a child, please contact us immediately, and we will take steps to remove such information from our records.
</p>
                        </ul>
                    </li>
                    <li>Updates to Privacy Policy:
:
                        <ul class="disc">
                            {{!-- <li>
                                <p>jhsdagh</p>
                            </li> --}}
                            <p>We may update this Policy occasionally to reflect changes in our practices or legal obligations. We encourage you to review this Policy for any updates periodically. We will notify you of any material changes by posting the revised Policy on our website or through other appropriate communication channels.
</p>
                        </ul>
                    </li>
                    <li>Contact Information:
:
                        <ul class="disc">
                            {{!-- <li>
                                <p>jhsdagh</p>
                            </li> --}}
                            <p>If you have any questions, concerns, or requests regarding this Policy or the handling of your personal information, please contact us at:
</p>
                        </ul>
                    </li>

                </ol>
            </div>
        </div>
    </div>

</div>