<div class="container">
    <form action="/confimpassword" method="post">
        <div class="input-group col-md-6 col-md-8">
            
            <label class="label">New Password</label><small class="ms-5 text-danger" id="passwordError"></small>
            <input autocomplete="off" onkeyup="Password()"  name="password"  id="password" 
                class="input mb-5" type="password">
                
            <label class="label ">Confirm Password</label>
            
            <input autocomplete="off" onkeyup="validatePasswords()" name="Email"  id="confirmpass" class="input" type="password">
            <div class="button mt-5"> <button class="btn btn-primary btn-lg mt-5" type="submit">Reset Password</button>
            </div>
            <div></div>
        </div>
    </form>
</div>

<script>
    const passwordField = document.getElementById("password");
    const confirmPasswordField = document.getElementById("confirmpass");
    const passwordError = document.getElementById("passwordError");
    const error = document.getElementById("error");


   function Password (){
    const password = passwordField.value;
    const pattern = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;

    if (password.match(pattern)) {
      passwordError.innerHTML = " "; // Clear the error message
    } else {
      passwordError.innerHTML = "Password must contain at least 8 characters, including at least one letter and one digit.";
    }
  }

    // Function to validate the password fields
    function validatePasswords() {
        const password = passwordField.value;
        const confirmPassword = confirmPasswordField.value;

        if (password !== confirmPassword) {
            passwordError.innerHTML = "Passwords do not match"
            return false; // Prevent form submission
        }

        // Passwords match, continue with form submission
         passwordError.innerHTML = ""
        return true;
    }

    confirmPasswordField.addEventListener("onkeyup", validatePasswords);

    // Add an event listener to the form submission
    const form = document.querySelector("form");
    form.addEventListener("submit", validatePasswords);
</script>


<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -100px;
        height: 100vh;
        /* Adjust the height as needed */
    }

    .button {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 5rem !important;
    }

    input {
        border-radius: 10px !important;

    }
</style>