 <!-- End Side Vav -->
    <a class="close_side_menu" href="javascript:void(0);"></a>

    <div class="rbt-overlay-page-wrapper">

        <div class="breadcrumb-image-container breadcrumb-style-max-width">
            <div class="breadcrumb-image-wrapper">
                <img src="assets/images/bg/bg-image-10.jpg" alt="Education Images">
            </div>
            <div class="breadcrumb-content-top text-center">
                <h1 class="title">Terms and Conditions
</h1>
                
            </div>
        </div>


        <div class="rbt-putchase-guide-area breadcrumb-style-max-width rbt-section-gapBottom">
            <div class="rbt-article-content-wrapper">
                <div class="post-thumbnail mb--30 position-relative wp-block-image alignwide">
                    <img class="w-100" src="assets/images/blog/blog-card-01.jpg" alt="Blog Images">
                </div>
                <div class="content">
                   
                    <ol>
                        <li>Prior to the commencement of video production, all instructions must be furnished. Failure to comply with any specific directives will entitle you to a free video revision. Please note that any revision requests must be made within 48 hours of delivery. Kindly ensure that all instructions, including those about the script to thumbnail, are provided to the team in an appropriate format.
</li>
                        <li>We accommodate revisions in the event that client specifications are not met. Regrettably, script alterations cannot be made once the voice-over recording is finalised. Additional charges apply should clients require further revisions resulting in a new voice-over file.
</li>
                        <li>Alterations to the video content, including substituting certain clips, incorporating textual effects, or modifying background music, maybe accommodated, provided such changes are communicated to the team within 48 hours of delivery.
</li>
<li>
    Modifications to the thumbnail image, including the inclusion or omission of text, experimentation with varied colour schemes, or incorporating a specific individual, are permissible as revisions. Nevertheless, if the team has already followed the original instructions and the customer requests an entirely new thumbnail (a rework), additional time and expenses will be incurred, which the customer will be responsible for covering.
</li>
                    </ol>
                </div>
            </div>
        </div>

    </div>

  