<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="p:domain_verify" content="ebc703e7711d582b1b43d3282f7b9745" />
  <meta name="description"
    content="Transform your YouTube dreams into reality with highly engaging Cashcow videos. Our dedicated team crafts profitable content to deliver the finest quality. Partner with us for exciting and lucrative content creation.">
  <title>Vidventures YouTube Cashcow</title>
  <link rel="shortcut icon" type="image/x-icon" href="admin/assets/imgs/logo/logoMain2.png">
  <meta name="keywords"
    content="YouTube automation, cashcow channels, automation team, video automation, YouTube profits, automation techniques">
  <meta name="author" content="Vidventures Youtube Cashcow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">

  <!-- Google tag (gtag.js) -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GSG3MCJJPV"></script>
  <script async >
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-GSG3MCJJPV');
  </script>
  <!-- Favicon -->
  <link rel="Vidventures YouTube Cashcow" type="image/x-icon" href="admin/assets/imgs/logo/logoMain.svg">

  <style>
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      appearance: textfield;
      -moz-appearance: textfield;
      -webkit-appearance: textfield;
    }

    .font-500 {
      font-weight: 500 !important;
    }

    body {
      overflow-x: hidden !important;
    }
  </style>


  <script preload type="application/ld+json">
{
  "@context": "http://vidventuresyt.com/",
  "image": [
    "admin/assets/imgs/logo/logoMain.svg",
    "admin/assets/imgs/logo/headerText.png",
    "admin/assets/imgs/logo/headerText.png"
   ]
}
</script>


  <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- CSS
	============================================ -->
  <link rel="stylesheet" href="user/assets/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="user/assets/css/vendor/slick.css">
  <link rel="stylesheet" href="user/assets/css/vendor/slick-theme.css">
  <link rel="stylesheet" href="user/assets/css/plugins/sal.css">
  <link rel="stylesheet" href="user/assets/css/plugins/feather.css">
  <link rel="stylesheet" href="user/assets/css/plugins/fontawesome.min.css">
  <link rel="stylesheet" href="user/assets/css/plugins/euclid-circulara.css">
  <link rel="stylesheet" href="user/assets/css/plugins/swiper.css">
  <link rel="stylesheet" href="user/assets/css/plugins/magnify.css">
  <link rel="stylesheet" href="user/assets/css/plugins/odometer.css">
  <link rel="stylesheet" href="user/assets/css/plugins/animation.css">
  <link rel="stylesheet" href="user/assets/css/plugins/bootstrap-select.min.css">
  <link rel="stylesheet" href="user/assets/css/plugins/jquery-ui.css">
  <link rel="stylesheet" href="user/assets/css/plugins/magnigy-popup.min.css">
  <link rel="stylesheet" href="user/assets/css/style.css">

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap" rel="stylesheet">
  <meta name="theme-color" content="#000000" />

  <link rel="manifest" href="/user/assets/mainfest.json">



  <style>
    .loading {
      position: absolute;
      display: none;
      top: 50vh;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10000;
      width: 100%;
      height: 100%;
      background: rgba(237, 237, 237, 0.15);

      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border-radius: 10px;
    }

    .loader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-color: #fff;
    }

    .loader__circle {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      margin: 0 4px;
      animation: loader_901 1s ease-in-out infinite;
    }

    .loader__circle:nth-of-type(1) {
      background-color: #007aff;
      animation-delay: 0;
    }

    .loader__circle:nth-of-type(2) {
      background-color: #ff2d55;
      animation-delay: 0.25s;
    }

    .loader__circle:nth-of-type(3) {
      background-color: #34c759;
      animation-delay: 0.5s;
    }

    .loader__circle:nth-of-type(4) {
      background-color: #ff9500;
      animation-delay: 0.75s;

    }

    @keyframes loader_901 {
      0% {
        transform: scale(1);
      }

      20% {
        transform: scale(1.2);
      }

      40% {
        transform: scale(1);
      }
    }
  </style>


</head>


<body class="rbt-header-sticky body">
  <script>
    function showLoadingScreen() {

      const loadingScreen = document.getElementById('loadingscreen');

      loadingScreen.style.display = 'block';
    }

    function hideLoadingScreen() {
      const loadingScreen = document.getElementById('loadingscreen');
      const screeenloadingScreen = document.querySelector('#shooping')
      const displaybanner = document.querySelector('#shoopingbanner')
      const footer = document.querySelector('.footer')
      footer.style.display = 'block';
      loadingScreen.style.display = 'none';
      screeenloadingScreen.style.display = 'block';
      displaybanner.style.display = 'block';
    }

    function handleWindowLoad() {
      if (window.location.href === 'https://vidventuresyt.com/shop') {

        //  if (window.location.href === 'http://localhost:3000/shop') {
        console.log('window.location.href')
        showLoadingScreen();
        setTimeout(hideLoadingScreen, 800);
      }
    }

    function preventContextMenu(event) {
      event.preventDefault();
    }

    // window.addEventListener('load', handleWindowLoad);

    document.addEventListener('contextmenu', preventContextMenu);
  </script>


  <script>
    $(window).on('load', handleWindowLoad);
  </script>

  <div id="loadingscreen" class="loading">
    <div class="loader">
      <div class="loader__circle"></div>
      <div class="loader__circle"></div>
      <div class="loader__circle"></div>
      <div class="loader__circle"></div>
    </div>
  </div>




  <div id="popup" class="popup" {{#unless showPopup}}style="display:none" {{/unless}}>
    <div class="cookiepng">
      <img src="admin/assets/imgs/gif/cookie.gif" alt="">
    </div>
    <div class="parag">
      <p>As a YouTube cashcow company, we utilize cookies to optimize your </p>
      <p class="p">browsing experience and deliver personalized
        content tailored to your interests.</p>
    </div>
    <div class="cookiebtn">
      <button id="allow-cookies" class="button btn btn-primary">Allow Cookies</button>
    </div>


  </div>

  <style>
    .cookiepng img {
      width: 7rem;
    }

    .cookiepng {
      margin-top: -13px;
    }

    #popup {
      position: fixed;
      top: 85vh;
      right: 32rem;
      z-index: 100000;
      /* From https://css.glass */
      background: rgba(51, 59, 55, 0.55);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6.8px);
      -webkit-backdrop-filter: blur(6.8px);
      border: 1px solid rgba(197, 145, 98, 0.26);
      left: 32rem;
      border-radius: 14px;
      justify-content: center;
      padding: 46px;
      height: 13rem;
      display: flex;
      padding: 37px 56px;
      justify-content: space-between;
    }

    .cookiebtn {
      margin-top: 3px;
      margin-right: 47px;
    }

    .cookiebtn button {
      width: 147px;
      height: 48px;
      font-size: 15px;
      border-radius: 29px;
      padding: 14px;
    }

    .parag {

      color: white;
      font-size: 61px !important;
      margin-top: 6px;
      margin-left: -77px;
    }

    .parag p {
      font-size: 22px;
      line-height: 0.1;
    }

    @media (min-width: 300px) and (max-width: 480px) {

      #popup {
        top: 68vh;
        border-radius: 14px;
        height: 20rem;
        right: 10px;
        left: 10px;
        display: block;
        padding: 0;
      }

      .cookiepng {
        margin-top: 4px;
      }

      .cookiepng img {
        width: 7rem;
        margin-top: 0px;
      }

      .parag {
        position: absolute;
        margin-left: 67px;
        margin-top: -59px;
      }

      .parag p {
        font-size: 17px;
        line-height: 22px;
      }

      .parag .p {
        margin-top: -29px;

      }

      .cookiebtn {
        margin-top: 70px;
        margin-left: 63px;
      }

      .cookiebtn button {
        width: 129px;
        height: 40px;
        font-size: 13px;
        border-radius: 29px;
      }


    }

    @media (min-width: 1150px) and (max-width: 1300px) {

      #popup {
        right: 0;
        left: 0;

      }

      .cookiebtn {
        margin-right: 0;
      }

      .parag {
        margin-left: 0;

      }

      .parag p {
        font-size: 21px;
      }

    }


    @media (min-width: 1300px) and (max-width: 1800px) {

      #popup {
        right: 53px;
        left: 53px;

      }

      .cookiebtn {
        margin-right: 0;
      }

      .parag {
        margin-left: 5px;

      }

    }
  </style>

  {{#if login}}
  {{>noNav}}
  {{else if session}}
  {{>loginNav}}
  {{else}}
  {{>header}}
  {{/if}}

  {{{body}}}
  <button id="installButton">Install</button>

  {{#if login}}
  {{>noNav}}
  {{else}}
  {{>footer}}
  {{/if}}

  {{!-- pwa --}}

  <style>
    #installButton {
      display: none;
      position: fixed;
      bottom: 20px;
      left: 20px;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      z-index: 10000;
    }
  </style>

  <script defer>
    document.addEventListener('DOMContentLoaded', () => {
      const allowCookiesButton = document.getElementById('allow-cookies');
      const popup = document.getElementById('popup');

      allowCookiesButton.addEventListener('click', () => {
        // Save the user's preference in a cookie or local storage
        // This example uses localStorage
        localStorage.setItem('cookiesAccepted', true);
        popup.style.display = 'none';

        // Send a fetch request to the backend
        fetch('/allow-cookies', { method: 'POST' })
          .then(response => {

          })
          .catch(error => {
            console.error('An error occurred:', error);
          });
      });

      // Check if the user has already accepted cookies
      // const cookiesAccepted = localStorage.getItem('cookiesAccepted');
      if (cookiesAccepted) {
        // If cookies have been accepted, hide the popup
        popup.style.display = 'none';
      }
    });
  </script>


  {{!--
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('service-worker.js', {
        scope: '/'
      });
    }
  </script>

  <script>
    // Check if the app is already installed
    if (!window.matchMedia('(display-mode: standalone)').matches) {
      let deferredPrompt;

      // Listen for the beforeinstallprompt event
      window.addEventListener('beforeinstallprompt', (event) => {
        event.preventDefault(); // Prevent automatic prompting

        // Save the event for later use
        deferredPrompt = event;

        // Show the install button
        document.getElementById('installButton').style.display = 'block';
      });

      // Handle install button click
      document.getElementById('installButton').addEventListener('click', () => {
        // Show the installation prompt
        deferredPrompt.prompt();

        // Wait for the user's response
        deferredPrompt.userChoice.then((choiceResult) => {
          if (choiceResult.outcome === 'accepted') {
            // User accepted the installation
          } else {
            // User dismissed the installation
          }

          // Clear the deferred prompt variable
          deferredPrompt = null;

          // Hide the install button
          document.getElementById('installButton').style.display = 'none';
        });
      });
    }
  </script> --}}

  <!-- JS
============================================ -->
  <!-- Modernizer JS -->
  <script src="user/assets/js/vendor/modernizr.min.js"></script>
  <!-- jQuery JS -->
  <script src="user/assets/js/vendor/jquery.js"></script>
  <!-- Bootstrap JS -->
  <script src="user/assets/js/vendor/bootstrap.min.js"></script>
  <!-- sal.js -->
  <script src="user/assets/js/vendor/sal.js"></script>
  <script src="user/assets/js/vendor/swiper.js"></script>
  <script src="user/assets/js/vendor/magnify.min.js"></script>
  <script src="user/assets/js/vendor/jquery-appear.js"></script>
  <script src="user/assets/js/vendor/odometer.js"></script>
  <script src="user/assets/js/vendor/backtotop.js"></script>
  <script src="user/assets/js/vendor/isotop.js"></script>
  <script src="user/assets/js/vendor/imageloaded.js"></script>

  <script src="user/assets/js/vendor/wow.js"></script>
  <script src="user/assets/js/vendor/waypoint.min.js"></script>
  <script src="user/assets/js/vendor/easypie.js"></script>
  <script src="user/assets/js/vendor/text-type.js"></script>
  <script src="user/assets/js/vendor/jquery-one-page-nav.js"></script>
  <script src="user/assets/js/vendor/bootstrap-select.min.js"></script>
  <script src="user/assets/js/vendor/jquery-ui.js"></script>
  <script src="user/assets/js/vendor/magnify-popup.min.js"></script>
  <script src="user/assets/js/vendor/paralax-scroll.js"></script>
  <script src="user/assets/js/vendor/paralax.min.js"></script>
  <script src="user/assets/js/vendor/countdown.js"></script>
  <!-- Main JS -->
  <script src="user/assets/js/main.js"></script>
  <script type="text/javascript" src="user/assets/js/client.js"></script>

</body>

</html>